.body {
  color: white;
  text-align: center;
  padding: 10px;
  margin: 0px;
  width: auto;
  height: auto;
  background-color: black;
  padding-top: 100px;
  padding-bottom: 111px;
  border-top: 10px solid green;
  border-bottom: 10px solid green;
  opacity: 0.8;
}
.header {
  font-size: 50px;
  padding-bottom: 10px;
}
.subheader {
  font-size: 25px;
}

input.box,
textarea {
  padding: 10px;
  margin: 10px;
  background: black;
  border: 3px solid blue;
  border-radius: 10px;
  align-items: center;
}

#float-label {
  display: flex;
  flex-direction: column;
  min-width: 150px;
  position: relative;
  align-items: center;
  padding: 10px;
}

#float-label input {
  width: 25%;
  height: 56px;
  padding: 14px 16px 0 10px;
  outline: 0;
  border: 3px solid blue;
  border-radius: 10px;
  background: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
}

#float-label label {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 12px;
  color: #999;
  pointer-events: none;
  position: absolute;
  transform: translate(0, 26px) scale(1);
  transform-origin: top left;
  transition: all 0.2s ease-out;
}

#float-label:focus-within label {
  transform: translate(0, 12px) scale(0.75);
}

#float-label .Active {
  transform: translate(0, 12px) scale(0.75);
}

.button1 {
  padding: 15px;
  margin: 10px;
  margin-top: 0;
  font-size: 15px;
  border: none;
  width: 10%;
  border: 3px solid blue;
  border-radius: 15px;
  align-items: center;
  cursor: pointer;
  background-color: black;
  color: #999;
  text-decoration: none;
}

.new {
  cursor: pointer;
}
