.Register {
  background-color: #1a1a1a;
  text-align: center;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 50px;
  height: 400px;
  border-top: 5px solid;
  border-bottom: 5px solid;
  border-image: linear-gradient(
      to left,
      #6666ff 25%,
      #3333ff 25%,
      #ff1a1a 50%,
      #1aff1a 75%
    )
    5;
}

.headerName {
  margin-top: 25px;
  color: #ffffff;
  font-size: 30px;
  margin-bottom: 20px;
  font-family: cursive;
}

.helperText {
  margin-top: 10px;
  color: #a6a6a6;
  font-size: 8px;
  margin-bottom: 20px;
  font-family: cursive;
}

.InputField {
  border: 1px solid #ff1a1a;
  border-radius: 50px;
  background-color: #1a1a1a;
  font-size: 10px;
  width: 180px;
  margin-left: 40px;
  height: 20px;
  color: #a6a6a6;
  padding: 8px;
  position: static;
  margin-bottom: 4px;
}

input:focus {
  outline: none !important;
  border-color: none;
}
::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
}

::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
}

:-ms-input-placeholder {
  text-align: center;
}
.IconClass {
  color: #1a1a1a;
  margin-left: 3px;
  margin-top: 1px;
}
.SuccessIconClass {
  color: #80ff00;
  margin-left: 3px;
  margin-top: 1px;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.RegisterButton {
  border: 1px solid #3366ff;
  background-color: #1a1a1a;
  border-radius: 25px;
  text-align: center;
  padding: 10px;
  outline: none;
  margin-left: 20px;
  color: #a6a6a6;
  cursor: pointer;
}
.LoginButton {
  border: 1px solid #3366ff;
  background-color: #1a1a1a;
  border-radius: 25px;
  text-align: center;
  padding: 10px;
  outline: none;
  margin-left: 40px;
  color: #a6a6a6;
  cursor: pointer;
}
.RegisterButton:hover {
  background-color: #f0f5f5;
  color: #1aff1a;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1);
  border: 1px solid #1aff1a;
}
.LoginButton:hover {
  background-color: #f0f5f5;
  color: #1aff1a;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1);
  border: 1px solid #1aff1a;
}

.ErrorMessage {
  color: #ff1a1a;
  font-size: 8px;
  margin-left: 15px;
}
@media only screen and (max-width: 768px) {
  .Register {
    background-color: #1a1a1a;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 70px;
    height: 400px;
    border-top: 3px solid;
    border-bottom: 3px solid;
    border-image: linear-gradient(
        to left,
        #6666ff 25%,
        #3333ff 25%,
        #ff1a1a 50%,
        #1aff1a 75%
      )
      5;
  }

  .InputField {
    border: 1px solid #ff1a1a;
    border-radius: 50px;
    background-color: #1a1a1a;
    font-size: 8px;
    width: 90px;
    margin-left: 15px;
    height: 20px;
    color: #a6a6a6;
    padding: 8px;
    position: static;
    margin-bottom: 10px;
  }

  .headerName {
    margin-top: 20px;
    color: #ffffff;
    font-size: 17px;
    margin-bottom: 20px;
    font-family: cursive;
  }

  .helperText {
    margin-top: 10px;
    color: #a6a6a6;
    font-size: 5px;
    margin-bottom: 20px;
    font-family: cursive;
  }

  .buttons {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .RegisterButton {
    border: 1px solid #3366ff;
    background-color: #1a1a1a;
    border-radius: 25px;
    text-align: center;
    outline: none;
    margin-left: 15px;
    color: #a6a6a6;
    cursor: pointer;
    width: 40px;
    margin-left: 25px;
    font-size: 6px;
  }
  .LoginButton {
    border: 1px solid #3366ff;
    background-color: #1a1a1a;
    border-radius: 25px;
    text-align: center;
    outline: none;
    margin-left: 15px;
    color: #a6a6a6;
    cursor: pointer;
    width: 40px;
    font-size: 6px;
    margin-right: 25px;
  }
}

@media screen and (max-width: 768px) and (min-width: 450px) {
  .Register {
    background-color: #1a1a1a;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 70px;
    height: 400px;
    border-top: 3px solid;
    border-bottom: 3px solid;
    border-image: linear-gradient(
        to left,
        #6666ff 25%,
        #3333ff 25%,
        #ff1a1a 50%,
        #1aff1a 75%
      )
      5;
  }

  .InputField {
    border: 1px solid #ff1a1a;
    border-radius: 50px;
    background-color: #1a1a1a;
    font-size: 10px;
    width: 200px;
    margin-left: 10px;
    height: 20px;
    color: #a6a6a6;
    padding: 8px;
    position: static;
    margin-bottom: 10px;
  }

  .headerName {
    margin-top: 20px;
    color: #ffffff;
    font-size: 22px;
    margin-bottom: 20px;
    font-family: cursive;
  }

  .helperText {
    margin-top: 10px;
    color: #a6a6a6;
    font-size: 6px;
    margin-bottom: 20px;
    font-family: cursive;
  }

  .buttons {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .RegisterButton {
    border: 1px solid #3366ff;
    background-color: #1a1a1a;
    border-radius: 25px;
    text-align: center;
    outline: none;
    margin-left: 20px;
    color: #a6a6a6;
    cursor: pointer;
    width: 45px;
    margin-left: 20px;
    font-size: 8px;
  }
  .LoginButton {
    border: 1px solid #3366ff;
    background-color: #1a1a1a;
    border-radius: 25px;
    text-align: center;
    outline: none;
    margin-left: 40px;
    color: #a6a6a6;
    cursor: pointer;
    width: 45px;
    font-size: 8px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 982px) and (min-width: 768px) {
  .Register {
    background-color: #1a1a1a;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 70px;
    height: 400px;
    border-top: 3px solid;
    border-bottom: 3px solid;
    border-image: linear-gradient(
        to left,
        #6666ff 25%,
        #3333ff 25%,
        #ff1a1a 50%,
        #1aff1a 75%
      )
      5;
  }

  .InputField {
    border: 1px solid #ff1a1a;
    border-radius: 50px;
    background-color: #1a1a1a;
    font-size: 12px;
    width: 180px;
    margin-left: 10px;
    height: 20px;
    color: #a6a6a6;
    padding: 8px;
    position: static;
    margin-bottom: 10px;
  }

  .headerName {
    margin-top: 20px;
    color: #ffffff;
    font-size: 25px;
    margin-bottom: 20px;
    font-family: cursive;
  }

  .helperText {
    margin-top: 10px;
    color: #a6a6a6;
    font-size: 8px;
    margin-bottom: 20px;
    font-family: cursive;
  }

  .buttons {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .RegisterButton {
    border: 1px solid #3366ff;
    background-color: #1a1a1a;
    border-radius: 25px;
    text-align: center;
    outline: none;
    margin-left: 20px;
    color: #a6a6a6;
    cursor: pointer;
    width: 57px;
    margin-left: 10px;
    font-size: 10px;
  }
  .LoginButton {
    border: 1px solid #3366ff;
    background-color: #1a1a1a;
    border-radius: 25px;
    text-align: center;
    outline: none;
    margin-left: 40px;
    color: #a6a6a6;
    cursor: pointer;
    width: 50px;
    font-size: 10px;
    margin-right: 20px;
  }
}
